
body{
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 480px;
    height:auto;
    padding: 20px;
    background: red;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 5px gray;
}
.input-wrapper{
    margin-top: 20px;
}
.input{
    width: 100%;
    height: auto;
    border: 0px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}
input:focus{
    outline: none;
}
button{
    background-color: brown;
    color: white;
    width: 100%;
    padding: 10px;
    border: 0px;
    margin-top: 20px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(45, 4, 4);
}
.remember{
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}
/* .dark-mode { 
    background-color: black;
} */
@media(prefers-color-scheme:dark){
    body{
background: black;
    }
}